.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.question-wrapper {
  padding: 0px 20px;
}

.wallet-wrapper {
  background-color: #7d26cd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  padding: 10px 0px;
}
.Add-money {
  border-radius: 20px;
  padding: 5px 10px;
  color: #7d26cd;
}
.ask-question {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}
.category {
  padding: 0px 20px;
  margin-bottom: 30px;
}
.question {
  border: 1px solid grey;
}
.form-Gender {
  margin-right: 20px;
}
