.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.question-wrapper {
  position: relative;
  padding: 0px 20px;
}

.wallet-wrapper {
  background-color: #7d26cd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  padding: 10px 0px;
}
.Add-money {
  border-radius: 20px;
  padding: 5px 10px;
  color: #7d26cd;
}
.ask-question {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}
.category {
  padding: 0px 20px;
  margin-bottom: 30px;
}
.question {
  border: 1px solid grey;
}
.bold {
  font-weight: bold;
}
.suggestions {
  display: flex;
  align-items: center;
}
.suggestions div:hover {
  background-color: red;
}
.ideas {
  padding-bottom: 10px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}
.friends-header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.friends-profile {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.family-profile {
  padding: 15px;
  border-radius: 19px;
  color: white;
  background-color: orange;
  min-width: 50%;
  text-align: center;
}
.add-profile {
  background-color: orange;
  color: white;
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
}
.form-tob button {
  width: 50px;
  margin-left: 6px;
  /* background-color: darkslateblue; */
  color: black;
}
.commonPadding {
  padding-bottom: 15px;
}
.form-Gender .form-Relation {
  min-width: 45%;
}
input.error {
  border-color: red;
}
.back {
  font-size: 20px;
  color: darkgrey;
  margin-bottom: 26px;
  margin-top: 23px;
}
.tableBody tr {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 70px;
}
.tableBody td {
  vertical-align: middle;
}
table {
  border-collapse: inherit !important;
}
th {
  color: #4682b4;
}
.css-19kzrtu {
  padding: 0 !important;
}
.bottomLines {
  bottom: 66px;
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 38px;
}
.form-Gender {
  margin-right: 20px;
}
